
.navbar-brand:hover,

body{
	background-color: #222222;
}



.navbar-brand img{

  position:absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  margin-top: -24px;

  animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */



}
.navbar{
	position: fixed;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
    top: 0px;
    right: 0px;
    left: 0px;

}
/*Changes the opacity and the background color of the navigation bar*/
.navbar {
   opacity: 0.98;
   background: #222222;
}


/* Changes the color of hover for navbar*/
.navbar-inverse .nav > li > a:hover {
  color: white;
}

/*Removes the border at the bottom at the navigation bar*/
.navbar-inner, .navbar .btn-navbar {
	border: 0px;
}


#pullToRight{
	float:right;
}
.pullToRight{
	float:right;
}
#closeButton{
	margin-top: 30px;
	float:right;
}
#viewFullCalendarButton{
	margin-top: 30px;

}

#eventSlider{

	position: relative;


	overflow: hidden;
	width:100%;

	background-color: #222222;

}

#title{
    position: absolute;
    bottom: 9%;
}

#eventSlider h3{
	color: royalblue;
}

.jumbotron{


    background-color: #222222;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    color: white;
    bottom: -60px;



}
#dodgeballImages {
	padding-top: 60px;
	margin-bottom: -30px;
	padding-left: 20%;
	padding-right: 20%;


}



#scrollToViewCouncil{
    position:absolute;
    bottom: 0;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;





}



#adminPicture{
	background-color: white;
	width: 100%;
	overflow: hidden;
}
#crPicture{
	background-color: #222222;
	width: 100%;
	overflow: hidden;

}
#designPicture{
	background-color: white;
	width: 100%;
	overflow: hidden;
}
#loPicture{
	background-color: #222222;
	width: 100%;
	overflow: hidden;
}
#prPicture{
	background-color: white;
	width: 100%;
	overflow: hidden;
}
#tlifePicture{
	background-color: #222222;
	width: 100%;
	overflow: hidden;
}


.warningAlert{
	position:absolute;

}
.fade {
	opacity: 0;

	-webkit-transition: opacity 0.15s linear;
	-moz-transition: opacity 0.15s linear;
	-o-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}
.fade.in {
	opacity: 1;
	top: 50px;
	left:0;
	right:0;
	width: 50%;
	margin-left:auto;
	margin-right:auto;
}


.hideme{
	opacity: 0.3;
}

#socialPanel{
	margin-top: 100px;
	height: 300px;
	width: 100%;
	background-color: #2e2e2e;

}

.center{
	position: relative;
	bottom: 0;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}
#facebookButton{
	position: relative;
	right: -20em;
}
#twitterButton{
	position: relative;
	left: -20em;
}

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);

    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 30px;
    margin-left: -45px;
}
#search .close {
    position: fixed;
    top: 60px;
    right: 15px;
    color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
}






#calendar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    /* Change the below height if there are more events in the calendar page */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);

    opacity: 0;
}

#calendar.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
}


#calendar .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 30px;
    margin-left: -45px;
}
#calendar .close {
    position: fixed;
    top: 60px;
    right: 15px;
    color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
}


#eventList{
	padding-top: 85px;
	padding-left: 30%;
	padding-right: 30%;

}

.btnCustom {

  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#viewFullCalendarBtn{
    position: absolute;
    margin-top: 75px;
    width: 200px;
    left: 50%;
    right: 50%;
    margin-left: -100px;

    font-size: 20px;
   	float: left;
}
#pullToLeft{
	float:left;
}
#pullToRight{
	float:right;
}

@media (max-device-width: 720px){

	#eventList{
		padding-top: 100px;
		padding-left: 2%;
		padding-right:2%;


	}
	#viewFullCalendarBtn{
		margin-top: 30px;
	}
	#calendar .close {

    	top: 60px;
    	right: 5px;

		border-color: #357ebd;
		opacity: 1;
		padding: 10px 17px;
		font-size: 20px;
}
#facebookButton{
	position: relative;
	right: -30em;
}
#twitterButton{
	position: relative;
	left: -30em;
}

}
